/* Main */
main {
    padding: 0;
    display: flex;
    margin: 0;
    margin-bottom: 10%;
}

.breed-title {
    width: 40%;
    background: linear-gradient(315deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.breed-title h1 {
    font-size: 6rem;
    color: black;
    background-image: none;
}

.breed-title p {
    font-size: 3.5rem;
    font-weight: bold;
}

.breed-wrapper {
    width: 60%;
    background-color: rgb(27, 27, 27);
}

.breed-wrapper img {
    width: 100%;
    height: 60vh;
    object-fit: none;
}

.breed-wrapper p {
    font-size: 22px;
    text-align: center;
    margin: 4rem 6rem;
    line-height: 2.4;
    color: whitesmoke;
}

/* Section */

article h2 {
    background: linear-gradient(90deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%);
    padding: 3rem;
    margin: 0;
    font-size: 3rem;
}

#appereance h2 {
    background: linear-gradient(270deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%);
}

section div {
    margin: 6rem auto;
    width: 85%;
    background-color: whitesmoke;
    box-shadow: 4px 4px 15px black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 5rem 6rem;
    padding-bottom: 4rem;
}

#appereance div {
    border-radius: 0;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

h3, article p {
    margin-bottom: 2rem;
}

section figure {
    width: 50%;
    background-color: rgb(27, 27, 27);
    padding: 3rem;
    float: left;
    margin-bottom: 3rem;
    margin-left: 0;
    margin-right: 5rem;
    border-bottom-right-radius: 50px;
}
    

#appereance figure {
    float: right;
    margin-right: 0;
    margin-left: 5rem;
    border-radius: 0;
    border-bottom-left-radius: 50px;
}

figure img {
    width: 100%;
}

h3 {
    display: inline-block;
    width: fit-content;
    font-size: 1.5rem;
    color: white;
    background-image: url("../img/svg/output-onlinepngtools2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 0.5em 3em;
}