/* Main */
main {
    max-height: 440px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(27, 27, 27)
}

main > ul {
    height: fit-content;
    padding: 0;
}

main ul:hover {
    margin-top: 1rem;
}

main ul a:hover {
 color: #b70c27;   
}

main img {
    width: 50px;
}

main li:nth-child(2) {
    margin-bottom: 1rem;
}

strong {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.4rem;
    color: #FF9E00;
    letter-spacing: 2px;
}

.contact-info {
    font-family: 'Vesper Libre', serif;
    font-size: 1.3rem;
    font-style: normal;
    line-height: 1.25;
    color: white;
}

/* Information section */
.info-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

/* Location */
.map-wrapper {
    width: 45%;
    padding: 3rem;
    background: linear-gradient(315deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form-wrapper h1, .map-wrapper h2 {
    font-size: 2rem;
    letter-spacing: 5px;
}

iframe {
    border: 40px solid rgb(27, 27, 27);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

iframe:hover {
    border-width: 30px;
    border-color: black;
}

/* Form */
.form-wrapper {
    width: 65%;
    background-color: white;
}

.form-wrapper form {
    background-color: whitesmoke;
    box-shadow: 4px 4px 15px black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 10% 20%;
    margin-top: 5%;
    padding: 4rem;
    padding-bottom: 1.5rem;
}

.form-wrapper h1 {
    font-family: 'Vesper Libre', serif;
    text-align: center;
    margin-top: 5%;
}

.userdata-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin: 0 auto;
}

.userdata-wrapper *, #submitBtn {
    display: block;
    margin: 0;
}

.userdata {
    width: 45%;
}

label {
    font-size: 1.5rem;
}

textarea, .userdata input {
    width: 100%; 
    margin-bottom: 2rem;
}

textarea {
    height: 10rem;
    border: 2px solid black;
    border-color: black gray gray black;
}

textarea::placeholder {
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
}

#submitBtn {
    width: fit-content;
    height: fit-content;
    background-color: #FF9E00;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    margin: 0 auto;
    margin-top: -1rem;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #b70c27;
}

/* Footer */
footer {
    height: 10vh;
    background-color: rgb(27, 27, 27);
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #FF9E00;
}

footer span, footer b {
    font-family: 'Vesper Libre', serif;
}