/* Section */
section > div {
    box-shadow: -4px 4px 15px black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 10vh;
    display: flex;
    background-color: whitesmoke;
    /* background: rgba(255,192,0,1); */
    /* background: linear-gradient(45deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%); */
}

section div:nth-of-type(2n) {
    box-shadow: 4px 4px 15px black;
    flex-flow: row-reverse;
    background: rgba(255,192,0,1);
    background: linear-gradient(315deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%);
}

section > div article {
    padding: 2%;
}

section div img {
    border: 1px solid black;
    margin: 3%;
    border-radius: 8px;
}

section div img:hover {
    width: 120%;
    object-fit: none;
}

main h1 {
    background-image: url("../img/svg/output-onlinepngtools2.png");
    background-size: 60%;
}

article h2 {
    margin-top: 0;
    background-image: url("../img/svg/Unbenannt-1-removebg-preview.png");
    background-size: 100%;
}

main h1, article h2 {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 0;
    color: white;
}

main p {
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
}