section {
    margin-top: -2%;
}

section div {
    margin: 0 10%;
    margin-bottom: 5%;
}

section > div {
    display: flex;
    box-shadow: 4px 4px 15px black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

section > div:nth-child(odd) {
    box-shadow: -4px 4px 15px black;
    background-color: whitesmoke;
}

section div:nth-of-type(2n) {
    flex-flow: row-reverse;
    background: linear-gradient(315deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%);
}

section div article {
    padding: 2%;
}

section > div img {
    max-width: 40%;
    object-fit: cover;
    border: 1px solid rgb(27, 27, 27);
    margin: 3%;
    border-radius: 8px;
}

section > div img:hover {
    width: 120%;
    object-fit: none;
}

main h1 {
    background-size: 60%;
}

.title-wrapper h2 {
    margin-top: 0;
    background-image: url("../img/svg/Unbenannt-1-removebg-preview.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 0;
    color: #FF9E00;
    line-height: 1.2;
}

section div:nth-of-type(2n) h2 {
    color: white;
}