* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-image: url('../img/Bg-image.jpg'); */
    overflow-x: hidden;
}

#currentPage {
    color: #b70c27;
}

main h1, h2, h3 {
    font-family: 'Vesper Libre', serif;
    letter-spacing: 2px;
}

/* Main */
main {
    text-align: center;
    margin: 5% 15%;
    margin-top: 10%;
}

main h1, main h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

main p, section p {
    font-size: 22px;
    margin-bottom: 2rem;
}

/* Main Wrapper */
.main-wrapper {
    height: 50vh;
    background-color: #FF9E00;
}

/* Others */
ul {
    list-style-type: none;
}

a, footer {
    text-decoration: none;
    color: #FF9E00;
    font-size: 1.5rem;
}

.hero *, a, details summary, #search::placeholder, #top *, footer * {
    font-family: 'Permanent Marker', cursive;
}

/* Section */
section {
    margin: 2rem 10%;
}

article h2 {
    text-align: center;
}

section img {
    width: 50%;
}

section img:hover {
    width: 55%;
}


/* Back to Top */
#top {
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color: #FF9E00;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 4px black;
    position: fixed;
    right: 5%;
    bottom: 8%;
}

#top:hover {
   background-color: #b70c27;
   animation: 100ms fadeIn;
}

@keyframes fadeIn {
    100% {
      visibility: visible;
    }
}

#top a {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
    color: black;
}

#top span {
    font-size: 2rem;
    line-height: 0.7;
}

.fadeOut {
    animation: 3s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}