* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url('../img/Paw-Transparent-Clip-Art-Image.png');
    background-size: 100%;
}

#currentPage {
    color: #b70c27;
}

main h1, h2, h3 {
    font-family: 'Vesper Libre', serif;
    letter-spacing: 2px;
}

p {
    color: rgb(27, 27, 27);
}

/* Main */
main {
    background-color: white;
    text-align: center;
    padding: 5% 15%;
    padding-top: 10%;
}

main h1, main h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

section h1, main h1 {
    background-image: url("../img/svg/output-onlinepngtools2.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 0;
    color: white;
}

main p, section p {
    font-size: 22px;
    margin-bottom: 2rem;
}

/* Main Wrapper */
.main-wrapper {
    height: 50vh;
    background-color: #FF9E00;
}

/* Others */
ul {
    list-style-type: none;
}

a, footer {
    text-decoration: none;
    color: #FF9E00;
    font-size: 1.5rem;
}

.hero *, a, details summary, #top *, footer *, label, #submitBtn {
    font-family: 'Permanent Marker', cursive;
}

/* Section */
section div {
    margin: 0 10%;
}

section > div, section > article {
    box-shadow: -4px 4px 15px black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 10vh;
    background-color: whitesmoke;
}

section div img {
    max-width: 40%;
    object-fit: cover;
}

article h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Input */
input, textarea {
    padding: 0.4rem;
    outline: none;
    border-radius: 8px;
}

input {
    height: 2rem;
}

input::placeholder {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    position: relative;
    top: 20%;
}

input:focus, textarea:focus {
    border: 4px solid #FF9E00;
}









/* Back to Top */
#top {
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color: #FF9E00;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 4px black;
    position: fixed;
    right: 2.5%;
    bottom: 8%;
}

#top:hover {
   background-color: #b70c27;
   animation: 100ms fadeIn;
}

#top:hover p {
    color: whitesmoke;
}

@keyframes fadeIn {
    100% {
      visibility: visible;
    }
}

#top a {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
    color: black;
}

#top span {
    font-size: 2rem;
    line-height: 0.7;
}

.fadeOut {
    animation: 3s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}