/* Main */
main {
    padding-top: 5%;
}

/* Section */
section div {
    margin: 0 10%;
}

section > div {
    background-color: whitesmoke;
    border: 4px solid black;
    display: flex;
    gap: 2%;
    margin-bottom: 0;
    border-radius: 0;
}

section div:nth-of-type(2n) {
    flex-flow: row-reverse;
}

section > div img {
    max-width: 50%;
    object-fit: cover;
}

/* Gallery */
