/* Main */
main {
    padding: 5% 15%;
    padding-bottom: 15%;
    position: relative;
    z-index: -2;
    background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(183,12,39,1) 85%);
    margin-bottom: 10%;
}

#canva {
    width: 90%;
    height: 80%;
    background-color: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: 5%;
    z-index: -1;
}

/* Section */
section div {
    margin: 0 10%;
}

section > div {
    background-color: whitesmoke;
    border: 4px solid black;
    display: flex;
    gap: 2%;
    margin-bottom: 0;
    border-radius: 0;
}

section div:nth-of-type(2n) {
    flex-flow: row-reverse;
}

section > div img {
    max-width: 50%;
    object-fit: cover;
}

/* Gallery */
/* transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1); */
/* transform: scale3d(1.8, 1.8, 1); */