/* Main */
main {
    text-align: center;
}

main h1 {
    background-size: 70%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

main p {
    width: 80%;
    margin: 3rem auto;
}

.squarespace {
    height: 20vh;
    background-color: rgb(27,27,27);
}

/* Section */
article {
    display: flex;
}

article:nth-child(2) {
    flex-direction: row-reverse;
}

/* Title Container */
.title-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.title-container > * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article:nth-child(2) .title-container {
    margin-top: -3.5rem;
}

.title-wrapper {
    height: 50%;
    background: linear-gradient(90deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%);
}

article:nth-child(2) .title-wrapper {
    background: linear-gradient(270deg, rgba(165,73,5,1) 0%, rgba(255,192,0,1) 100%);
}

.title-wrapper h2 {
    max-height: 500px;
    font-size: 4rem;
}

figure {
    padding: 8%;
    background-color: rgb(27,27,27);
    display: flex;
}

figure img {
    max-width: 100%;
}

article:nth-child(3) figure {
    margin-top: -1rem;
}

/* Text container */
.text-container {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

article:nth-child(2) .text-container {
    align-items: flex-end;
    margin-top: -4rem;
}

article:nth-child(2) .text-container p {
    box-shadow: 8px 4px 15px black;
    border-top-right-radius: 0;
}

h3 {
    display: inline-block;
    width: fit-content;
    font-size: 1.5rem;
    color: white;
    background-image: url("../img/svg/output-onlinepngtools2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 1em 3em;
}

section p {
    box-shadow: -8px -4px 15px black;
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: 50px;
    border-top-left-radius: 0;
}

